/* Add a background color to the header element */
header{background-color: darkslateblue;
text-align: center;}

/* Add a fun background color to the main element */
main{background-color: blueviolet;}

/* Align the h1 containing your name in the center of the header*/
h1{text-align: center;}

/* Make your p tag a different color and italic */
p{color: burlywood; font-style: italic;}

/* Put a border around your image */
img{width: 25%;
    border: 5px solid darkslateblue}


/* Change the font-family of your list */
ul{font-family: fantasy;
    font-size: 200%;}

li{font-size: medium;}

/* Add a background color to the footer element */
footer{background-color: darkslateblue;}



